
footer {
    background: gray;
    height: 100px;
}

ul {
    padding: 0;
    padding-top: 0;
    padding-left: 300px;
    list-style: none;
}

li {
    float: left;
}

header {
    display: block
}

nav {
    text-align: center;
    display: block;
    background-color: gray;
    height: 100px;
    margin-bottom: 20px;
}

nav a {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-top: 40px;
    text-decoration: none;
    text-align: center;
    display: block;
    color: black;
}

nav a:hover {
   background-color: rgb(238, 152, 120); 
}

button {
    background-color: black;
    color: whitesmoke;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

button:hover {
    background-color: rgb(238, 152, 120);
    color: black;
}

#logo {
    position: absolute;
    margin-top: 10px;
    margin-left: 50px;
    color: black;
}

#big {
    margin-left: 40px;
}

#three {
    margin-left: 40px;
}

.threepics {
    margin-right: 25px;
}

#lastrow {
    margin-left: 40px;
    display: inline;
}

.leftimage {
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 30px;
}

.nexttotext {
    display: inline;
    margin-left: 40px;
}

.flexcontainer {
    display: flex
}

.rightofimage {
    flex-direction: column;
    width: 420px;
}

p {
    border: 3px solid black;
    max-height: 350px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    overflow: auto;
}

.calltoaction {
    padding-bottom: 10px;
}